<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/adminlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/adminlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity2"
            android:exported="true"/>
        <activity android:name=".MainActivity4"
            android:exported="true" />
        <activity android:name=".MainActivity3"
            android:exported="true"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GetAddressIntentService"
            android:exported="false" />
    </application>

</manifest>